@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body{
    font-family: 'Oswald', sans-serif;
    background-color: #fce6d8;
    font-weight: 800;
}
header{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.911);
    margin-bottom: 50px;
    
    
}
footer{
    margin-top: 50px;
    background-color:rgba(255, 255, 255, 0.911);
    margin-bottom: -50px;
}
#barraP{
    padding-bottom: 30px;
    
}
.imgPortal{
    width: 100px;
}
h2{
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(5, 5, 5);
}
h4{
    color: white;
    
}
ul{
    display: inline-block;
   
}
p{
    
    color: white;
}
.inicio-p{
    text-align: justify;
    font-size: 20px;
}
.a{
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    cursor:pointer;
    text-decoration: none;
}

li{
    margin-right: 20px;
    list-style: none;
}
/***************************/
main{
    
 
    text-align: center;
}
.col-md-3{
    background-color: #5dc4e4;
    border-style: solid;
    border-color: #4699b3;
}
.col{
    background-color: #5dc4e4;
 
}   
.h1P{
    margin-top: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    color: white;
     
}
.list-group-item{
    width: 100%;
     
 }

.ul{
    text-align: left;
    
    margin-top: 50px;
}
.ulbtn{
    text-align: left;
}
.ulbtnC{
    text-align: center;
}


/****parte consumo****/
.consumoESC{
    display: none;
}
.divConsumo{
    padding: 60px;
    margin: auto;
    width: 500px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    
}

.divConsumo > h3 {
    margin-top: 10px;
}

input::placeholder{
    font-weight: bolder;
    color: black;
}
/***********SALDO*/
#saldo{
    display: none;
}
/********comprar*****/
.c{
   background-color:rgba(131, 131, 131, 0);
 
}
#compra{
    display: none;
    color: white;
    
}
.imputCompra{
    width: 50px;
}
.SpanC{
    color: rgb(143, 5, 5);
    font-weight: 900;
}
.confirmarCompra{
    margin-bottom: 10px;
   
}


/******bebidas e comidas******/
#bebidass{
    display: none;
}

/***carrinho***/
#carrinho{
    display: none;
    color: white;
}
/* @media screen and (max-width: 574px){

    .col-md-3{
        
       
    }
} */